.body{

    margin: 0px auto 0px 10px;
    background: url(poze/bodyb.jpg) no-repeat;
	background-repeat: repeat-y;
	top:0px;
	
     	}
		a:hover {
	color: #0099FF;
	text-decoration: underline;
}
a {
	color: #0099FF;
	text-decoration: none;
}


.barasus {
	font-family: Arial, Helvetica, sans-serif;

	color: #FFF;
	background-color: #FFF;
	background-image: url(poze/liniesus1.jpg);
	background-repeat:no-repeat;
	position:relative;
	height: 30px;
	width: 980px;
	top: 0px;
	left:0px;
	font-size: 14px;
	text-align: left;
	margin-top:0px;
	font-weight: normal;
}
.barasus p {
	padding-left: 20px;
    line-height:30px;
}
.barasus a {
	color:#FFF;
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	text-decoration: none;
	font-weight: 900;
}
.logo {
	background-color: #999;
	background-repeat: no-repeat;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	height: 100px;
	width: 980px;
	top: 30px;
	background-image:url(poze/logo.jpg);
}
.meniu {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:900;
	font-size: 14px;
	color: #FFF;
	text-decoration: none;
	background-image: url(poze/meniu.jpg);
	height: 40px;
	width: 980px;
	top: 130px;
}
#menu{
	overflow:hidden;
	display:inline;
	}
#menu li{
	float:left;
	list-style:none;
	margin-left:20px;
		}
#menu li a:hover{
  font: fantasy;
  color:#0099FF;


	}
#menu li a{
	text-decoration:none;
	padding-right:10px;
	line-height: 40px;
	color:#FFF;
	}
.continut{
  top:0px;
	width:980px;
    height:auto;

    float:left;

		}

.meniustinga{
	position:relative;
	top:0px;
	left:0px;
	height:500px;
	width:200px;
	top:0px;
	float:left;
	   	}
.meniustinga form{
	padding-left:50px;
		}
.meniustinga p{
	padding-left:10px;
		}


.slideshow{
	height: 170px;
	width: 570px;
	float:left;
   padding-left: 10px;
   padding-right: 10px;
		}
continutdreapta{

	height: 500px;
	width: 200px;
	float:right;
	}
.continutmijlocjos{
	height: 330px;
	width: 580px;
	float:left;

	}
.barajos{
	width:980px;
	height:60px;
	background-image:url(poze/liniejos.jpg);
	top:0px;
	position:relative;
	float:left;
		}
.barajos p{
	text-align:center;
	font:"Times New Roman", Times, serif;
	color:#CCC;
	line-height:30px;

	}
 .spatiustinga{
   background-color:transparent;
   width: 200px;
   min-height:500px;
   float:left;
   list-style-type: none;
      }
 .spatiustinga1{
   background-color:white;
   width: 200px;
   min-height:1037px;
   float:left;
      }
  .cos{
  background-color: transparent;
  float: left;
  width:200px;
  height:200px;
  text-align: center;
  font-family: @Arial Unicode MS;



    }
    .cos h1{
  padding-right:10px;
  padding-left:10px;
  font-family: Arial Roman;
  font-size: 14px;


  }


.spatiudreapta{

     height: 500px;
    min-height:1037px;
         }
.spatiuprodus{
      width: 780px;
   min-height:500px;
   float:left;
      }
.spatiumijloc{
      min-height:1037px;
    width:570px;
    float: left;
    padding-right: 10px;
         }
.paginare {
float:left;
background-image: url(poze/paginare.png);
text-align:center;
width:980px;
height:50px;
line-height:35px;

 }



.paginare_produs {
float:left;
background-image: url(poze/paginare.png);
text-align:center;
width:580px;
height:50px;
line-height:35px;

 }
.paginare_produs p {
text-align:right;
line-height:12px;
color: #7A7979;
font-family: Verdana,Century Gothic,sans-serif;
font-size: 0.8em;
font-weight: lighter;
margin: 0 0 6px -20px;
min-height: 27px;
text-shadow: 1px 1px 1px #FFFFFF;
}
.lista_produse{

    color: #000000;
    font-family: Verdana,Century Gothic,sans-serif;
    font-size: 0.7em;
    font-weight: lighter;
    min-height: 27px;
    text-shadow: 1px 1px 1px #FFFFFF;
		}
.spatiudreapta1{
 float:left;
 width:190px;
 background-color: #00FFFF;
 height:600px;

}

.rezultate{
  background-image: url(poze/cautareavansata.jpg);
    float:right;
    line-height:10px;
    background-color: #BBBBBB;
    width:780px;
    height:150px;
}


.produse{
width:780px;
height:40px;
background: transparent;
}
.articol{

    background:url(poze/produse.jpg);
background-repeat: no-repeat;

}


.lista_produse{
    height:200;
    width:580px;
    float: left;
}

.articol h1{
  color:#006666;
  font-size: 14px;
  font-family: @Arial Unicode MS;
   }
.articol h0{
   color:#0000FF;
  font-size: 14px;
  font-family: @Arial Unicode MS;
   }

e.articol p{
color: #000000;
}
.articol p1{

color: #0000FF;
}


.produs{
width:780px;
height:500px;
background: transparent;
}
.pagNumActive {
    color: #000000;
    border:#000000 1px solid; background-color: #FFFFFF; padding-left:3px; padding-right:3px;
    font-family: Times New Roman;
}
.paginationNumbers a:link {
    color: #FFFFFF;
    text-decoration: none;
    border:#7A7979 1px solid; background-color:#000000; padding-left:3px; padding-right:3px;
}
.paginationNumbers a:visited {
    color: #FFFFFF;
    text-decoration: none;
    border:#FFFFFF 1px solid; background-color:#000000; padding-left:3px; padding-right:3px;
}
.paginationNumbers a:hover {
    color: #000000;
    text-decoration: none;
    border:#000000 1px solid; background-color: #CCCCCC; padding-left:3px; padding-right:3px;


}
.paginationNumbers a:active {
    color: #FFFFFF;
    text-decoration: none;
    border:#00BFFF 1px solid; background-color:#EDEDED; padding-left:3px; padding-right:3px;
}

.meniu_vertical li a:hover, .meniu_vertical li a.sel {
text-decoration: none;
color: white;
background: #E12766;
background-image: initial;
background-repeat-x: initial;
background-repeat-y: initial;
background-attachment: initial;
background-position-x: initial;
background-position-y: initial;
background-origin: initial;
background-clip: initial;
background-color: #C0C0C0;
}
.meniu_vertical li a:hover, .meniu_vertical li a.sel {
text-decoration: none;
color: white;
background: #C0C0C0;
background-image: initial;
background-repeat-x: initial;
background-repeat-y: initial;
background-attachment: initial;
background-position-x: initial;
background-position-y: initial;
background-origin: initial;
background-clip: initial;
background-color: #C0C0C0;
}
.meniu_vertical li a {
padding: 4px 8px 5px 20px;
padding-top: 4px;
padding-right: 8px;
padding-bottom: 5px;
padding-left: 20px;
display: block;
border-bottom: 1px solid #E5E5E5;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #E5E5E5;

}
.meniu_vertical li a {
padding: 4px 8px 5px 20px;
display: block;
 border-bottom: 1px solid #E5E5E5;

}
a {

text-decoration: none;
color: black;
}
a {
_height: 0;
text-decoration: none;
color: black;
}
.meniu_vertical{
width: 170px;
margin: 5px 0 15px 0;
margin-top: 5px;

margin-right: 0px;
margin-bottom: 25px;
margin-left: 10px;
padding: 0;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
list-style-type: none;
font-size: 15px;

}

.membrii{
  float:left;
  margin-left:150px;

}
.spatiu{

  float: left;
  height: 500px;
  margin-left:200px;


}
.spatiudreapta_mic{
   background-color:#FFFFFF;
   height: 600px;
    min-height:600px;
         }
.cos_cumparaturi{
margin-left:20px;
margin-right:10px;
background-color:#FFFFFF;
width: 940px;
height:500px;
min-height:500px;
float:left;
}
.continut.orar{
padding-right:20px;
height:250px;
width:400px;
}
.continut #map{
float:left;
margin-left:10px;
margin-top:10px;
height:350px;
width: 500px;
border: #000000 2px solid;
}
.continut.formular_contact{
float:left;

}
.continut.spatiudreapta_comenzi{
   float:left;
   background-color:#FFFFFF;
   margin-left:70px;
    height:500px;

         }
.spatiu_comenzi{
   float:left;
   margin-left:70px;
   background-color:#FFFFFF;
   height:500px;


         }		 
.spatiu_tiket{
   float:left;
   margin-left:150px;
   background-color:#FFFFFF;

         }
.spatiu_mesaj{
float:left;
   margin-left:100px;
   background-color:#FFFFFF;

}
.articol1{
float:right;
 }
.paginare1{
float:right;
background-image: url(poze/paginare.png);
text-align:center;
width:780px;
height:50px;
line-height:35px;

 }

 .spatiu_meniu_client{

 background-image: url(poze/spatiu_meniu_client.jpg);
   width: 200px;
   min-height:500px;
   float:left;
   list-style-type: none;
      }
 div.buton_mesaj input {
background:url(poze/buton_mesaj.jpg) no-repeat;
cursor:pointer;
width: 150px;
height: 30px;
border: none;
}
.pasi_cumparaturi{

background-image: url(poze/pasi_cos.jpg);
width:980px;
height:100px;
}
.spatiu_produse{
float:left;
}
.spatiudreapta_produse{
  background-color: #00BFFF;
  float: right;
  width: 190px;
}
.cutie_stinga{
float:left;
width:200px;
min-height:600px;
height:auto;
background: url(poze/spate.jpg) no-repeat;
background-repeat: repeat-y;
height:700px;

}
.cutie_stingap{
  top:0px;
float:left;
width:200px;
background: url(poze/spate.jpg) no-repeat;
background-repeat: repeat-y;
height:1062px;

}
.cutie_mijloc{
float:left;
width:580px;
height:auto;

}
.cutie_dreapta{
float:left;
width:200px;
height:auto;
min-height:700px;
background: url(poze/spate.jpg) no-repeat;
background-repeat: repeat-y;
height:700px;
}
.cutie_dreaptap{
float:left;
width:200px;
background: url(poze/spate.jpg) no-repeat;
background-repeat: repeat-y;
height:1062px;
}
.rezultate1{
line-height:10px;
float:left;
width:580px;
height:170px;
background-image: url(poze/meniu_piese.jpg);
background-repeat: no-repeat;
}
.rezultate1 form{
margin-top:20px;

}
.rezultat{
text-align: center;
font-family: @Arial Unicode MS;
font-size: larger;
color: #FFFFFF;
line-height:25px;
float:left;
width:580px;
height:30px;
background-image: url(poze/rezultate.jpg);
background-repeat: no-repeat;
 }


  .cutie_mijloc_mare{
float:left;
width:780px;
min-height:600px;
height:1100px;
font-family: @Arial Unicode MS;
font-size: 14px;

}
.cutie_mijloc_mare a{
   color:#0000FF;
   font-family: Arial;

   font-size: 14px;

   }
.cutie_mijloc_mare a:hover{

color: #CCCCCC;
}
.cutie_mijloc_mare h6{
   color:#666666;
  font-size: 14px;
  font-family: @Arial;
   }

.cutie_mijloc_mare h4{
   color:#006666;
  font-size: 14px;
  font-family: @Arial;
   }
 .cutie_mijloc_mare a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}
.cutie_mijloc_mare h1{
  font-size: 14px;
  font-family: @Arial;
  line-height: 14px;
   }
    div.buton_factura_noua input {
background:url(poze/factura_noua.jpg) no-repeat;
cursor:pointer;
width: 100px;
height: 20px;
border: none;
}
.ultimele_produse{
margin-left:10px;
width:130px;
height:170px;
float:left;
  background:url(poze/produs.jpg);
background-repeat: no-repeat;
padding-top: 5px;
}
.produ{
float: left;
margin-left:15px;

 }
 .meniu_categorii{
  float:left;


 }
  .anunt{
  float: left;
  background:url(poze/contact.jpg);
background-repeat: no-repeat;
background-position:top;
padding-left:20px;
 padding-right:22px;

}
.u_produse{
width:580px;
height:auto;
float: left;
background: transparent;


}



 .pret h2{
  width:128px; height:15px; line-height:14px; font-family: tahoma,verdana,arial; font-size: 14px; color:#000099;

 }
.cele_mai_cautate{
  float: left;
 background:url(poze/cele_mai_cautate.jpg);
background-repeat: no-repeat;
background-position:top;
padding-left:20px;
padding-right:25px;
}
 .cele_mai_cautate a{
   text-transform: lowercase;

   }
 .newsletter{
float: left;
background:url(poze/newsletter.jpg);
background-repeat: no-repeat;
background-position:top;
padding-left:20px;
padding-right:24px;
 }

 .ultim_produse{
   position: relative;
   top:10px;
 width:580px;
height:30px;
background:url(poze/ultimele.jpg);
background-repeat: no-repeat;
  }
 .stiai_ca{
 float:left;
width:580px;
height:35px;
background:url(poze/stiai_ca.jpg);
background-repeat: no-repeat;
background-position: top;
 }
 .stiai_ca h1{
   font-family: Arial;
   font-size: 14px;
   padding-left:20px;
  color: #666666;
  }
  .stiai_ca h1 a{
  color: #CCCCCC;

}
 .stiai_ca h1 a:hover{
  color: #0066FF;

}
 .jos{
 float:left;
 height: 200px;
 width: 980px;
 background:url(poze/jos.jpg);
background-repeat: no-repeat;
 }
.jos p{

	padding-right: 15px;
	padding-left: 15px;
    font-family: Arial;
    font-size: 14px;
      color: #666666;
          top:0px;
 }
.jos h3{
 font-family: Arial;
 font-size: 14px;
 color: #666666;
}
.barajos ul{
padding-left:100px;

}
.barajos p{
padding-left:100px;
line-height: 190%;

}
